<div class="container">

    <div class="jumbotron text-center">

        <!-- Title -->
        <h2 class="card-title h1 pb-2"><strong>Disc Thrower</strong></h2>

        <!-- Card image -->
        <div class="view overlay my-4">
            <img src="https://www.innovadiscs.com/wp-content/uploads/2015/06/course-target-featured.jpg"
                class="img-fluid" alt="">
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <p class="card-text">Click on a disc to throw it, or enter the name of your own!</p>

        <div class="row">
            <div class="col-4">
                <h1>Not Thrown</h1>

                <ul>
                    {{#each discs}}
                    {{#unless thrown}}
                    <button class="btn btn-success btn-rounded unthrown" id="{{id}}">{{disc_name}}</button>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-4">
                <h1>Make a Disc</h1>

                <form id="create-form">
                    <div>
                        <input type="text" class="form-control" id="new-disc" placeholder="Enter new disc">
                    </div>
                    <button id="submit" class="btn btn-default btn-rounded">Submit</button>
                </form>
                <button id="reset" class="btn btn-default btn-rounded">Reset Discs</button>

                {{!-- <button id="delete" class="btn btn-default btn-rounded">Delete Discs</button> --}}
            </div>
            <div class="col-4">
                <h1>Thrown</h1>

                <ul>
                    {{#each discs}}
                    {{#if thrown}}
                    <button class="btn btn-outline-success btn-rounded waves-effect thrown"
                        id="{{id}}">{{disc_name}}</button>
                    {{/if}}
                    {{/each}}
                </ul>


            </div>
        </div>





    </div>


</div>