<h1>Not Thrown</h1>

<ul>
    {{#each discs}}
    {{#unless thrown}}
    <button class="unthrown" id="{{disc_id}}">{{disc_name}}</button>
    {{/unless}}
    {{/each}}
</ul>

<h1>Thrown</h1>

<ul>
    {{#each discs}}
    {{#if thrown}}
    <button class="thrown" id="{{disc_id}}">{{disc_name}}</button>
    {{/if}}
    {{/each}}
</ul>